<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars Fetching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
